h1 {
    display: flex;
    justify-content: center;
    font-size:150px;
    font-family: serif;
    font-style: oblique;
    background-color: rgba(147, 147, 246, 0.723);
    padding: 5em;
    padding: 100px;
}
body{
    background-image:url(blue.png);
}
footer {
    display: flex;
    justify-content: center;
    padding-top: 15em;
}