---
import Header from "../components/header.astro";
import HeaderHTML from "../layouts/HeaderHTML.astro";
import './style/profile.css';
---

<HeaderHTML title="Your profile">
</HeaderHTML>

<body>
    <Header />
    <h1>My profile</h1>
    <div class="frame">
        <div class="center">
            <div class="profile">
                <div class="circle"></div>
                <input type="text" id="user"></input>
                <p class="job">user@hotmail.com</p>
                <button class="btn">Modify Account</button>
            </div>
                
            <div class="stats">
                <p class="value"> <b>523</b> Quotes</p>
                <p class="value"> <b>1089</b> Likes</p>
                <p class="value"> <b>109</b> Followers</p>
            </div>
        </div>
    </div>
    <footer>
        &copy; Senda Arriaga
    </footer>
</body>


<script type="text/javascript">
    var url_string = window.location.href; 
    var url = new URL(url_string);
    document.getElementById("user").value = url.searchParams.get("name");
</script>

</html>