---
import Header from "../components/header.astro";
import QuoteSearch from "../components/search";
import HeaderHTML from "../layouts/HeaderHTML.astro";
---
<HeaderHTML title="Aleatory Quote">
</HeaderHTML>
<body>
    <Header />
    <h1>Search</h1>
    <QuoteSearch client:load />
    <footer>
        &copy; Senda Arriaga
    </footer>
</body>
</html>