---
import Header from "../components/header.astro";
import SignUp from "../components/signup";
import HeaderHTML from "../layouts/HeaderHTML.astro";
---
<HeaderHTML title="Aleatory Quote">
</HeaderHTML>
<body>
    <Header />
    <SignUp client:load/>
    <footer>
        &copy; Senda Arriaga
    </footer>
</body>
</html>