---
import Header from "../components/header.astro";
import SignIn from "../components/signin";
import HeaderHTML from "../layouts/HeaderHTML.astro";
---
<HeaderHTML title="Aleatory Quote">
</HeaderHTML>
<body>
    <Header />
    <SignIn/>
    <footer>
        &copy; Senda Arriaga
    </footer>
</body>
</html>
