---
import "./style/header.css";
---
<header>
    <div class="left">
      <a href="/">Home</a>
      <a href="/search">Search</a>
      <a href="/aleatory">Aleatory</a>
    </div>
    <div class="right">
      <a href="/signup" class="SignUp">Sign Up</a>
      <a href="/signin" class="SignIn">Sign In</a>
  </div>
</header>